@charset "utf-8";

@import "_mixin/mixin";

@import "_component/_normalize.scss";
@import "_component/_common.scss";

.page-main {
  display: block;
  position: relative;

  .p-top & {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.wrapper {
  // overflow: hidden;
  margin: 0 auto;

  @include pc {
    width: 117.2rem;

    &.wrapper-lp2 {
      width: 100%;
      min-width: 120rem;
    }
  }
}

@include pc {
  .sp {
    display: none !important;
  }

  a[href^=tel] {
    pointer-events: none;
    text-decoration: none;
    opacity: 1 !important;
    cursor: default !important;
  }
}

@include sp {
  .pc {
    display: none !important;
  }

  body {
    &.open {
      overflow: hidden;
    }
  }
}

.lp-inner {
  max-width: 101rem;
  margin: 0 auto;

  @include sp {
    max-width: 100%;
    padding: 0 4rem;
  }
}

.text-bold {
  font-weight: 700;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.c-white {
  color: #fff;
}

.fw-bold {
  font-weight: bold;
}

.fit {
  font-family: "object-fit: cover;";
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.js-parallax {
  transition: .2s cubic-bezier(.22, .94, .44, 1);
  will-change: transform, opacity
}

.c-copy {
  line-height: 1.75;
}

body {
  font-family: $gothic;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: $lh;
  color: $color_base;
  overflow-wrap: break-word;
  font-weight: 500;
  overflow-y: auto;
  background: #BAA2F6;
  background: #07060a;

  &.no-scroll {
    overflow: hidden;
  }
}

.p-login {
  position: relative;
}

.p-login .login-header {
  padding: 3rem 0 10rem;

  &__logo {
    max-width: 42rem;
    margin: 0 auto;
    display: block;
  }
}

.p-login .login-header__logo img {
  display: block;
  width: 100%;
}

.p-login .login-main {
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-login__inner {
  padding: 0 7rem;
}

.p-login .login-form {
  padding: 15rem 8.5rem 10rem;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.25;
  background: #f1f1f1;
  border-radius: 10rem;
}

.p-login .login-form input.textfield {
  border-radius: 10rem;
  background: #fff;
  width: 100%;
  border: none;
  outline: none;
  padding: 4.8rem 3rem 4.8rem 14.5rem;
  position: relative;
  background: #fff no-repeat left 5.8rem center / 5.6rem 8rem;
  color: #a6a6a6;
  font-size: 4.3rem;

  &#login_mail1 {
    background-image: url("../img/system/ico_input01.png") !important;
  }

  &#login_password1 {
    background-image: url("../img/system/ico_input02.png") !important;
  }

  &:-internal-autofill-selected {
    background-color: #fff;
  }

  &::placeholder {
    color: #a6a6a6;
    opacity: 1;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .p-login .login-form input.textfield {}
}

.p-login .login-form .form-group__ttl {
  margin-bottom: 2rem;
}

.p-login .login-form .form-group+.form-group {
  margin-top: 4rem;
}

.p-login .login-form .submit-btn01 {
  margin-top: 4rem;
  display: block;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin: 6rem 0 0;
  color: #000;
  text-indent: -9999rem;
  background: url("../img/system/button.png") no-repeat center center / 100% 100%;
  border: none;
  border-radius: 0;
  height: 0;
  padding: 13.336% 0;
  transition: all 0.3s ease;
}

@media screen and (min-width: 769px) {
  .p-login .login-form .submit-btn01:hover {
    opacity: 0.7;
  }
}

.p-login .login-report {
  margin-top: 3rem;
}

.p-login .login-report a {
  color: #fff;
  display: inline-block;
  background: transparent;
  padding: 1.8rem 2.5rem;
  font-size: 2.2rem;
  line-height: 1.45455;
  font-weight: bold;
  border-radius: 0;
  border: 0.4rem solid rgba(255, 255, 255, 0.8);
}

.p-login .footer {
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.p-login .footer-copyright {
  text-align: center;
  font-size: 3.6rem;
  padding: 2.4rem 0;
  background: #000;
  color: #fff;

  small {
    font-size: 100%;
  }
}

@media screen and (max-width: 768px) {
  .p-login .footer-copyright {
    font-size: 4.2rem;
    padding: 3rem 0;
  }
}

.p-start {
  background: #fff;

  .start-header {
    padding: 7rem 3.6rem;

    &__logo {
      max-width: 21rem;
      display: block;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .start-total {
    dl {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      background-image: linear-gradient(to right, #41d0d6, #0359cd);
      font-size: 4.8rem;
      padding: 4rem 3rem;
      font-weight: 500;

      dd {
        font-size: 170%;
      }
    }
  }

  .start-system {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0 12rem;
    gap: 10rem;

    &__circle {
      max-width: 55.8rem;
    }
  }

  .send_btn {
    border: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    max-width: 33.8rem;
    margin: 0 auto;
    display: block;
  }

  .start-chart-wrap {
    padding: 6rem 10rem;
  }

  .start-chart {
    padding: 6rem 0;

    &__ttl {
      color: #ebff00;
      font-weight: bold;
      font-size: 3.2rem;
      margin-bottom: 1rem;
      font-family: "Arial";
    }

    &__img img {
      display: block;
      width: 100%;
    }

    &__copy {
      background: #1e1e20;
      padding: 2rem;
      font-size: 4rem;
      line-height: 1.5;
    }

    &__copy.c-red {
      color: #ff1616;
    }

    &__copy.c-yellow {
      color: #ffed00;
    }
  }
}

.p-start .start-main {
  font-weight: bold;
}

.p-start__inner {
  padding: 0 6rem;
}

.p-start .start-gr {
  background: #f1f1f1;
  padding: 5rem 0;
  border-radius: 5rem;
}

.p-start .start-gr__item {
  padding: 3rem 10rem;
}

.p-start .start-gr__item .lbl {
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  display: block;
}

.p-start .start-gr__item input.textfield {
  background: #fff;
  border-radius: 1rem;
  width: 100%;
  outline: none;
  padding: 2rem 3rem;
  font-size: 6rem;
  line-height: 1.25;
  font-weight: bold;
  border: 2px solid #545454;
  text-align: right;
}

.p-start .start-gr__item input.textfield.t-r:-ms-input-placeholder {
  text-align: right;
  font-weight: bold;
}

.p-start .start-gr__item input.textfield.t-r::placeholder {
  text-align: right;
  font-weight: bold;
}

.p-start .start-gr__item .btn-submit01 {
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 auto;
  display: block;
  padding: 0;
}

.p-start .start-gr__item .btn-submit01 img {
  width: 100%;
}

.p-start .start-gr__item .btn-submit01:hover {
  opacity: 0.75;
}

.p-start .start-gr__item .btn-submit02 {
  max-width: 40%;
  border: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 5rem;
  padding: 0;
  margin-left: auto;
  display: block;
}

.p-start .start-gr__item .btn-submit02:hover {
  opacity: 0.75;
}

.p-start .start-footer {
  padding: 10rem 7rem 6rem;
  background: #545454;
  color: #c3c3c3;
  font-size: 3.2rem;
  line-height: 1.75;
}

.p-start .start-footer strong {
  font-size: 120%;
}

.p-start .footer {
  background: #545454;
  text-align: center;
  color: #fff;
  padding-bottom: 4rem;
}

.p-start .footer-copyright {
  font-size: 4.6rem;
}