@charset "utf-8";

@import "_mixin/mixin";

@import "_component/_normalize.scss";
@import "_component/_common.scss";

.page-main {
  display: block;
  position: relative;

  .p-top & {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.wrapper {
  // overflow: hidden;
  margin: 0 auto;

  @include pc {
    width: 117.2rem;

    &.wrapper-lp2 {
      width: 100%;
      min-width: 120rem;
    }
  }
}

@include pc {
  .sp {
    display: none !important;
  }

  a[href^=tel] {
    pointer-events: none;
    text-decoration: none;
    opacity: 1 !important;
    cursor: default !important;
  }
}

@include sp {
  .pc {
    display: none !important;
  }

  body {
    &.open {
      overflow: hidden;
    }
  }
}

.lp-inner {
  max-width: 101rem;
  margin: 0 auto;

  @include sp {
    max-width: 100%;
    padding: 0 4rem;
  }
}

.text-bold {
  font-weight: 700;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.c-white {
  color: #fff;
}

.fw-bold {
  font-weight: bold;
}

.fit {
  font-family: "object-fit: cover;";
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.js-parallax {
  transition: .2s cubic-bezier(.22, .94, .44, 1);
  will-change: transform, opacity
}

.c-copy {
  line-height: 1.75;
}

body {
  font-family: $gothic;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: $lh;
  color: $color_base;
  overflow-wrap: break-word;
  font-weight: 500;
  overflow-y: auto;
  background: #BAA2F6;
  background: #07060a;

  &.no-scroll {
    overflow: hidden;
  }
}

.p-login {
  position: relative;
  background: url("../img/system/bg.jpg") no-repeat top center / cover;
}

.p-login .login-header {
  padding: 3rem 0 10rem;
  padding: 3rem 0 20rem;

  &__logo {
    max-width: 42rem;
    margin: 0 auto;
    display: block;
  }
}

.p-login .login-header__logo img {
  display: block;
  width: 100%;
}

.p-login .login-main {
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-login__inner {
  padding: 0 6rem;
}

.p-login .login-form {
  padding: 8rem 6rem 10rem;
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.25;
  background: #00000098;
  border-radius: 1rem;
}

.p-login .login-form input.textfield {
  border-radius: 1rem;
  background: #fff;
  width: 100%;
  border: none;
  outline: none;
  padding: 4rem;
  position: relative;
  color: #333;
  font-size: 4.3rem;

  &:-internal-autofill-selected {
    background-color: #fff;
  }

  &::placeholder {
    color: #333;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .p-login .login-form input.textfield {
    padding: 4.8rem 4rem;
  }
}

.p-login .login-form label {
  margin-bottom: 2rem;
  display: inline-block;
  color: #fff;
  font-size: 110%;
}

.p-login .login-form .form-group+.form-group {
  margin-top: 7rem;
}

.p-login .login-form .submit-btn01 {
  margin-top: 12rem;
  display: block;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin: 6rem 0 0;
  color: #000;
  text-indent: -9999rem;
  background: url("../img/system/button.png") no-repeat center center / 100% 100%;
  border: none;
  border-radius: 0;
  height: 0;
  padding: 10% 0;
  transition: all 0.3s ease;
}

@media screen and (min-width: 769px) {
  .p-login .login-form .submit-btn01:hover {
    opacity: 0.7;
  }
}

.p-login .login-report {
  margin-top: 3rem;
}

.p-login .login-report a {
  color: #fff;
  display: inline-block;
  background: transparent;
  padding: 1.8rem 2.5rem;
  font-size: 2.2rem;
  line-height: 1.45455;
  font-weight: bold;
  border-radius: 0;
  border: 0.4rem solid rgba(255, 255, 255, 0.8);
}

.footer {
  padding: 6rem 0;
  background: #000;

  &-nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        padding: 0 3rem 4rem;

        a {
          color: #fff;
          @include fz(40, 40);
        }
      }
    }
  }

  &-copyright {
    text-align: center;
    color: #fff;
    @include fz(46, 60);

    small {
      display: block;
    }
  }
}

.p-start {
  background: #fff;
  font-family: serif;
  font-weight: 300;

  .start-header {
    padding: 0;
    position: relative;

    .logout {
      position: absolute;
      top: 50%;
      right: 3.6rem;
      width: 38rem;
      transform: translateY(-50%);
      z-index: 2;
      background-color: transparent;
      box-shadow: none;
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;
    }
  }

  .send_btn {
    border: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    max-width: 33.8rem;
    margin: 0 auto;
    display: block;
  }

  .tradingview-widget-copyright {
    display: none !important;
  }

  .start-inner {
    padding: 0 8rem;
  }

  .start-chart {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .purchase-details {
    padding: 8rem 0;
    font-size: 4rem;

    &__ttl {
      font-weight: 500;
      margin-bottom: 2rem;
      font-size: 160%;
    }

    &__content {
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      padding-bottom: 6rem;
      min-height: 80rem;
    }

    &__group {
      padding-top: 6rem;

      &:nth-child(n+2) {
        margin-top: 6rem;
        border-top: 1px solid #ccc;
      }

      dl {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0.75rem 0;
      }

      dt {
        font-size: 130%;
        font-weight: 300;
      }

      dd {
        font-size: 100%;
        font-weight: 300;
      }
    }
  }

  .start-input {
    padding: 8rem 0;

    &__wrap {
      border: 0.8rem solid #943aad;
      border-radius: 3rem;
      padding: 8rem 6rem;
    }

    &__ttl {
      font-size: 6rem;
      line-height: 1.2;
      margin-bottom: 2.5rem;
      display: block;
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .ico {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        background: #000;
        display: inline-block;

        &-green {
          background: #00bf63;
        }

        &-purple {
          background: #5271ff;
        }

        &-red {
          background: #ff3131;
        }
      }
    }

    &__content {
      font-size: 8rem;
      line-height: 1.25;
      text-align: right;
      color: #333;
      font-weight: 500;
    }

    &__item {
      margin-top: 8rem;

      &:nth-child(1) {
        margin-top: 0;
        margin-bottom: 14rem;
      }
    }

    input.textfield {
      background: #f4f4f4;
      border-radius: 1rem;
      width: 100%;
      outline: none;
      padding: 2rem 3rem;
      border: none;
      text-align: right;

      &::placeholder {
        color: #333;
        opacity: 1;
        text-align: right;
      }
    }

    .btn-submit {
      max-width: 50%;
      border: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background: transparent;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin-top: 3rem;
      padding: 0;
      margin-left: auto;
      display: block;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}

.start-footer {
  padding: 10rem 0 8rem;
  background: rgb(54, 25, 88);
  background: linear-gradient(to right, rgba(27, 3, 42, 1), rgba(54, 25, 88, 1));
  color: #c3c3c3;
  font-size: 3.2rem;
  line-height: 1.85;

  strong {
    font-size: 160%;
  }
}